<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Airports</h1>
    <ul>
      <% airports.forEach(function(t) { %>
        <li>
          <%= t.airport %>
            - 
          <%= t.travel ? 'Been there' : 'Not Been There' %>
        </li>
      <% }); %>
    </ul>
</body>
</html>